body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    font-family: 'Nunito', sans-serif;
}
main {
    width: auto;
    height: 100%;
    display: inline-block;
}
a {
    text-decoration-color: white; /*remove later*/
    text-decoration: none;
    transition: color 0.5s;
}
p {
    margin: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    font-size: 36pt;
    font-family: inherit;
}
.topbar {
    display: flex;
    width: auto;
    background-color: black;
    height: 144px;
    padding: 0px 1.5em;
    align-items: right;
    flex-direction: row-reverse;
}
.toplink {
    align-self: center;
    flex: 0 0 auto;
    padding: 8px 16px;
    font-size: 36pt;
    color: #FFFFFF;
    font-family: inherit;
    text-decoration: none;
}
.sidebar {
    flex: 0 0 20%;
    width: 384px;
    height: 100%;
    flex-direction: column;
    display: inline-block;
}
.toplink:hover {
    color: #e5677c  ;
}
.title {
    color: black;
    font-size: 36pt;
}
.galtitle {
    text-align: center;
    display: block;
    width: 200px;
    margin: 120px auto 0px;
    height: 120px;
}
.proj {
    flex: 0 0 80%;
    background-color: white; 
}
.i1 {
    margin-right: auto;
}
#logo {
    height: 240px;
    width: auto;
    position: absolute;
    top: 24px;
    left: 50%;
    transform: translate(-50%);
}
.progress {
    color: black;
    font-size: 28pt;
}
.skinny {
    display: none;    
}
.showcase-grid {
    width: 100%;
    padding-top: 200px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.showcase-item {
    margin: 18px 12px;
    background-color: black;
    width: 442px;
    height: 260px;
    flex: 0 1 auto;
}
#sidenav {
    height: 100%;
    padding-top: 60px;
    background-color: grey;
    position: fixed;
    left: 0;
    top: 144px;
    transition: 500ms cubic-bezier(.27,.04,0,.99);
    z-index: 1;
    overflow: hidden;
}
#sidenav-button {
    z-index: 2;
    width: 36px;
    height: 36px;
    margin-left: 20px;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    flex-direction: column;
    cursor: pointer;
}
#sidenav-button:hover #top {
    width: 100%;
}
#sidenav-button:hover #mid {
    width: 100%;
}
#sidenav-button:hover > #bot {
    width: 100%;
}
.navlink {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 28px;
    color: black;
    display: block;
}
.closebtn {
    position: absolute;
    top: 25px;
    right: 25px;
    font-size: 28px;
    margin-left: 50px;
}
.bar {
    height: 4px;
    background-color: black;
}
#top {
    width: 95%;
    transition: all .6s cubic-bezier(.27,.04,0,.99);
}
#mid {
    width: 20%;
    transition: all .75s cubic-bezier(.27,.04,0,.99);
}
#bot {
    width: 10%;
    transition: all .75s cubic-bezier(.27,.04,0,.99);
}
#wrapper {
    display: flex;
    height: 100%;
}
.masked {
    mask-image: url(/logo-mask.png);
    mask-mode: auto;
    mask-size: 240px 120px;
    mask-type: alpha;
    mask-position: inherit;
}
.newlogo {
    background-color: red;
    height: 240px;
    width: 120px;
    position: absolute;
    top: 24px;
    left: 50%;
    transform: translate(-50%);
}

@media screen and (max-width: 800px) {
    body {
        display: flex;
        flex-direction: column;

        min-width: 510px;
        overflow: visible;
    }
    #logo {
        height: 180px;
        top: 54px;
        left: 10%;
    }
    .sidebar {
        width: 100%;
        display: block;
    }
    .topbar {
        flex-direction: column;
    }
    .toplink {
        font-size: 1.6em;
        align-self: right;
        padding: 4px 8px;
    }
    .i1 {
        margin: inherit;
    }
    .title {
        font-size: 24pt;
    }
    .progress {
        padding-left: 108px;
    }
}

@media screen and (max-width: 510px) {
    body {
        min-width: 364px;
    }
    .sidebar,.proj {
        display: none;
    }
    .skinny {
        display: block;
        width: 100%;
        height: 100%;
        background-color: white;
        z-index: -1;
        align-content: space-around;
        align-items: center;
    }
    .stext {
        position: absolute;
        top: 324px;
        left: 50%;
        transform: translate(-50%);
        z-index: 1;
        font-size: 2.2em;
    }
    .topbar {
        height: 232px;
    }
    .toplink {
        display: none;
    }
    #logo {
        left: 50%;
        top: 142px;
        transform: translate(-39px);
    }
}

/*colors*/
.colorful {
    background:
      -webkit-linear-gradient(31deg, hsla(60.64, 78.33%, 76.47%, 1) 0%, hsla(60.64, 78.33%, 76.47%, 0) 26%),
      -webkit-linear-gradient(341deg, hsla(187.92, 86.81%, 50.24%, 1) 0%, hsla(187.92, 86.81%, 50.24%, 0) 31%),
      -webkit-linear-gradient(65deg, hsla(350, 70.79%, 65.1%, 1) 11%, hsla(350, 70.79%, 65.1%, 0) 63%),
      -webkit-linear-gradient(169deg, hsla(106.06, 79.2%, 75.49%, 1) 12%, hsla(106.06, 79.2%, 75.49%, 0) 51%),
      -webkit-linear-gradient(241deg, hsla(193.94, 79.2%, 75.49%, 1) 29%, hsla(193.94, 79.2%, 75.49%, 0) 50%);
    background:
      linear-gradient(59deg, hsla(60.64, 78.33%, 76.47%, 1) 0%, hsla(60.64, 78.33%, 76.47%, 0) 26%),
      linear-gradient(109deg, hsla(187.92, 86.81%, 50.24%, 1) 0%, hsla(187.92, 86.81%, 50.24%, 0) 31%),
      linear-gradient(25deg, hsla(350, 70.79%, 65.1%, 1) 11%, hsla(350, 70.79%, 65.1%, 0) 63%),
      linear-gradient(281deg, hsla(106.06, 79.2%, 75.49%, 1) 12%, hsla(106.06, 79.2%, 75.49%, 0) 51%),
      linear-gradient(209deg, hsla(193.94, 79.2%, 75.49%, 1) 29%, hsla(193.94, 79.2%, 75.49%, 0) 50%);
    }